
.container{
    background: rgb(10, 10, 10);
    border: 1px solid rgba(218, 209, 213, 0);
    border-radius: 8px;
    box-sizing: border-box;
    height: 550px;
    max-width: 23%;
    margin: 20px auto;
    position: relative;
}

.wrapper{
    background: white;
    border: 1px solid pink;
    border-radius: 3px;
    height: 90%;
    margin: 5.32% auto;
}

.powerOn{
    background: rgb(4, 194, 4);
    border: 2.3px solid rgb(6, 179, 6);
    border-radius: 30%;
    height: 3.5px;
    width: 4.5px;
    position: absolute;
    right: 13%;
    top: .75%;
}

.powerOff{
    background: rgb(248, 36, 36);
    border: 2px solid red;
    border-radius: 30%;
    height: 3.5px;
    width: 4.5px;
    position: absolute;
    right: 20%;
    top: .75%;
}

#switch1{
    background: black;
    border-radius: 2.5px;
    border: 1.5px solid white;
    height: 11px;
    width: 11px;
    position: absolute;
    bottom: 2.2%;
    right: 88%
}

#switch2{
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1.7px solid white;
    height: 12px;
    width: 12px;
    position: absolute;
    right: 48%;
    bottom: 2%;
}

#switch3{
    background: rgb(0, 0, 0);
    border: 1.5px solid white;
    border-radius: 0 50% 50% 0;
    height: 11px;
    width: 11px;
    position: absolute;
    right: 8%;
    bottom: 2%;
}

#switch1:hover, #switch2:hover, #switch3:hover{
    background: rgb(44, 43, 43);
    background: white;
    cursor: pointer;
    border: 1px solid grey
}


#display{
    height: 20%;
    border: 1px solid green;
    margin: 3px 2%;
}

#buttons{
    border: 1px solid green;
    margin: 3px 2%;
    height: 75%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:  .5em;
}

.numbers{
    list-style-type: none;
    padding: 8px 8px;
    width: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid hotpink;
    border-radius: 8%;
}