
.container{
    width: 26%;
    border: 1px solid hotpink;
    margin: 20px auto;
    border-radius: 4px;
    height: 560px;
    box-sizing: border-box;
    position: relative;
}

.wrapper{
    width: 97%;
    border: 1px solid pink;
    height: 93%;
    margin: 3.32% auto;
    border-radius: 2px;
}

.power-toggle{
    background: rgb(18, 156, 18);
    border: 2px solid green;
    width: 6px;
    height: 5px;
    border-radius: 30%;
    position: absolute;
    right: 10%;
    bottom: 1.5%
}
.powerOff-toggle{
    background: rgb(248, 36, 36);
    border: 2px solid red;
    width: 6px;
    height: 5px;
    border-radius: 30%;
    position: absolute;
    right: 20%;
    bottom: 1.5%
}