*{
    margin: 0px;
    padding: 0px;
}

.container{
    background: rgb(10, 10, 10);
    border: 1px solid rgba(218, 209, 213, 0);
    border-radius: 8px;
    box-sizing: border-box;
    height: 550px;
    min-width: 22%;
    width: 270px;
    margin: 20px auto;
    position: relative;
}

.wrapper{
    background: white;
    border: 1px solid pink;
    border-radius: 3px;
    height: 90%;
    margin: 5.32% auto;
}

.powerOn{
    background: rgb(4, 194, 4);
    border: 2px solid rgb(6, 179, 6);
    border-radius: 30%;
    height: 3.5px;
    width: 4.5px;
    position: absolute;
    right: 13%;
    top: .75%;
}

.powerOff{
    background: rgb(248, 36, 36);
    border: 2px solid red;
    border-radius: 30%;
    height: 3.5px;
    width: 4.5px;
    position: absolute;
    right: 20%;
    top: .75%;
}

#display{
    height: 20%;
    border: 1px solid green;
    margin: 3px 2%;
}

#buttons{
    border: 1px solid green;
    margin: 3px 2%;
    height: 75%;
    box-sizing: border-box;
}

.all{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border: 1px solid grey;
    grid-gap: .2em;
}

.numbers, .keys{
    height: 30px;
    list-style-type: none;
    padding: 4px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 8%;
    cursor: pointer;
    font-family: 'fira code';
    font-size: 14px;
    font-weight: 600;

}

.numbers:hover, .keys:hover{
    background-color: rgba(5, 3, 3, .4);
}

.numbers:nth-child(1){
    grid-column: 1/2;
    grid-row: 8/9
}

.numbers:nth-child(2){
    grid-column: 2/3;
    grid-row: 8/9;
}

.numbers:nth-child(3){
    grid-column: 3/4;
    grid-row: 8/9
}

.numbers:nth-child(4){
    grid-column: 1/2;
    grid-row: 9/10;
}

.numbers:nth-child(5){
    grid-column: 2/3;
    grid-row: 9/10;
}

.numbers:nth-child(6){
    grid-column: 3/4;
    grid-row: 9/10;
}

.numbers:nth-child(7){
    grid-column: 1/2;
    grid-row: 10/11;
}

.numbers:nth-child(8){
    grid-column: 2/3;
    grid-row: 10/11;
}


.numbers:nth-child(9){
    grid-column: 3/4;
    grid-row: 10/11;
}

.numbers:nth-child(10){
    grid-column: 1/2;
    grid-row: 11/12;
}

.numbers:nth-child(11){
    grid-column: 2/3;
    grid-row: 11/12;
}

.numbers:nth-child(12){
    grid-column: 3/4;
    grid-row: 11/12;
}

/* Input type Radio*/
.numbers:nth-child(13){
    grid-column: 1/5;
    grid-row: 1/2;
}

.numbers:nth-child(14){
    grid-column: 4/5;
    grid-row: 8/9;
}

.keys[title="add"]{
    grid-column: 5/6;
    grid-row: 9/10;
}

.keys[title="subtract"]{
    grid-column: 5/6;
    grid-row: 10/11;
}

.keys[title="Equal"]{
    grid-column: 5/7;
    grid-row: 11/12;
}

.keys[title="multiply"]{
    grid-column: 6/7;
    grid-row: 9/10;
}

.keys[title="divide"]{
    grid-column: 6/7;
    grid-row: 10/11;
}

.keys[title="reset"]{
    grid-column: 4/5;
    grid-row: 11/12;
    font-size: 13px;
}

.keys[title="PI"]{
    grid-column: 4/5;
    grid-row: 10/11;
}

.keys[title="Exponent"]{
    grid-column: 4/5;
    grid-row: 9/10;
}

.keys[title="percentage"]{
    grid-column: 6/7;
    grid-row: 6/7;
}

.keys[title="add-memory"]{
    grid-column: 5/6;
    grid-row: 8/9;
}

.keys[title="clear-memory"]{
    grid-column: 6/7;
    grid-row: 8/9;
}

.keys[title="open-bracket"]{
    grid-column: 3/4;
    grid-row: 3/4;
}

.keys[title="close-bracket"]{
    grid-column: 4/5;
    grid-row: 3/4;
}

.keys[title="shift"]{
    grid-column: 1/2;
    grid-row: 3/4;
}

.keys[title="alpha"]{
    grid-column: 2/3;
    grid-row: 3/4;
}

.keys[title="logarithm"]{
    grid-column: 1/2;
    grid-row: 4/5;
}

.keys[title="sine"]{
    grid-column: 2/3;
    grid-row: 4/5;
}

.keys[title="cosine"]{
    grid-column: 3/4;
    grid-row: 4/5;
}

.keys[title="tangent"]{
    grid-column: 4/5;
    grid-row: 4/5;
}

.keys[title="sinh"]{
    grid-column: 5/6;
    grid-row: 4/5;
}

.keys[title="cosh"]{
    grid-column: 6/7;
    grid-row: 4/5;
}

.keys[title="tanh"]{
    grid-column: 1/2;
    grid-row: 5/6;
}

.keys[title="square"]{
    grid-column: 2/3;
    grid-row: 5/6;
}

.keys[title="cube"]{
    grid-column: 3/4;
    grid-row: 5/6;
}

.keys[title="square-root"]{
    grid-column: 5/6;
    grid-row: 5/6;
}

.keys[title="cube-root"]{
    grid-column: 6/7;
    grid-row: 5/6;
}

.keys[title="factorial"]{
    grid-column: 5/6;
    grid-row: 3/4;
}

.keys[title="fibonacci"]{
    grid-column: 6/7;
    grid-row: 3/4;
}

.keys[title="modulus"]{
    grid-column: 4/5;
    grid-row: 6/7;
}

.keys[title="Exp"]{
    grid-column: 4/5;
    grid-row: 5/6;
}

.keys[title="e"]{
    grid-column: 5/6;
    grid-row: 6/7;
}

.keys[title="sine-1"]{
    grid-column: 1/2;
    grid-row: 6/7;
}

.keys[title="cos-1"]{
    grid-column: 2/3;
    grid-row: 6/7;
}

.keys[title="tan-1"]{
    grid-column: 3/4;
    grid-row: 6/7;
}

#switch1{
    background: black;
    border-radius: 2.5px;
    border: 1.5px solid white;
    height: 11px;
    width: 11px;
    position: absolute;
    bottom: 2.2%;
    right: 88%
}

#switch2{
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1.7px solid white;
    height: 12px;
    width: 12px;
    position: absolute;
    right: 48%;
    bottom: 2%;
}

#switch3{
    background: inherit;
    border-width: 10px 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    position: absolute;
    right: 8%;
    bottom: 2%;
}

#switch1:hover, #switch2:hover{
    background: rgb(250, 249, 249);
    background: white;
    cursor: pointer;
    border: 1px solid grey;
}

input{
    padding: 0 5px;
}